<template>
    <svg
        aria-hidden="true"
        width="12px"
        height="12px"
        viewBox="0 0 12 12"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <title>{{ $t('results.error') }}:</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon
                id="Rectangle"
                fill="#ff0000"
                fill-rule="nonzero"
                points="6 0 12 12 0 12"
            ></polygon>
        </g>
    </svg>
</template>
