<template>
    <svg
        aria-hidden="true"
        width="12px"
        height="12px"
        viewBox="0 0 12 12"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <title>{{ $t('results.warning') }}:</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#E17000" fill-rule="nonzero">
                <rect id="Rectangle" x="0" y="0" width="12" height="12"></rect>
            </g>
        </g>
    </svg>
</template>
